<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JsonFileName" value="[path to json file for storage]"/>
    <add key="XmlFileName" value="[path to xml file for storage]"/>
    <!--<add key="ImplClass" value="StaffManagement.Data.FileStorage.XMLStaffRepository,StaffManagement.Data"/>-->
    <add key="ImplClass" value="StaffManagement.Data.DbStorage.DbStaffRepository,StaffManagement.Data"/>
    <add key="DbConnectionString" value="Data Source=LAPTOP-NOOBIE\SQLEXPRESS;Integrated security=SSPI;Initial Catalog=StaffManagementDb"/>


  </appSettings>
</configuration>